{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sixer App</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
	<div>
		<p>Header</p>
		<p>
			{% if user and not user.is_anonymous %}
				Hello {{ user.get_full_name|default:user.username }}!
			{% else %}
				I don't think we've met before
			{% endif %}
		</p>
		<a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}">Login</a>
		<a href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a>
	</div>
	<hr>
	{% block page %}
	{% endblock %}
	<div>
		Footer
	</div>
</body>
</html>